@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

/* Header */

.header-container {
  height: 80vh;
  width: 100vw;
  background-color: #34353a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 112px;
  position: relative;
}

.left-right-items {
  width: auto;
  align-items: center;
  justify-content: center;
  height: 80vh;
  display: flex;
}

section.image {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.image img {
  width: 60%;
}

.h1 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.social-media {
  margin-top: 1rem;
  display: flex;
}

.social-media a {
  text-decoration: none;
  color: #ffffff;
  padding: 1rem 4rem;
  border: 1px solid #1e1e2a;
  min-width: 4rem;
  display: flex;
  margin: 5px;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

a:hover {
  background-color: white;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
  width: 50px;
  height: 2px;
  background-color: #1e1e2a;
  position: absolute;
  border: 4px;
  transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
  top: 20px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
  top: 46px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
  top: 66px;
  transform: rotate(0);
}

#toggle {
  display: none;
}

/* MENU */

.menu {
  position: absolute;
  top: 28px;
  right: 30px;
  background-color: transparent;
  height: 4px;
  width: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px #ffffff;
  z-index: -1;
  transition: 400ms ease-in-out 0s;
}

.menu-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease-in-out 0s;
}

.menu-items ul {
  list-style-type: none;
}

.menu-items ul li a {
  margin: 10px;
  color: #1e1e2a;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 40px;
}

/* anim */

#toggle:checked + .checkbox .trace:nth-child(1) {
  transform: rotate(45deg);
  top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
  transform: translate(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
  transform: rotate(-45deg);
  top: 48px;
}

/* animação do box-shadow na tela inteira */

#toggle:checked + .checkbox {
  background-color: #ffffff;
}

#toggle:checked ~ .menu {
  box-shadow: 0px 0px 0px 100vmax #ffffff;
  z-index: 1;
}

#toggle:checked ~ .menu-items {
  visibility: visible;
  opacity: 1;
}

/* Sobre*/
.about-container {
  color: #34353a;
}

.bio-text-pic {
  display: grid;
  grid-template-columns: 1fr 600px;
}

.about-container h1 {
  color: #34353a;
  font-size: 40px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: -90px;
}

.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text p {
  margin-left: 100px;
  color: rgb(109, 109, 109);
  font-size: 20px;
}

.pic-bio {
  display: block;
  margin: auto;
  max-width: 400px;
}

.photo-bio {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.photo-bio img {
  display: block;
  width: 120%;
}

/* Skills */

.skills h1 {
  color: #34353a;
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 50px;
  margin-left: 100px;
}

.skills-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-skills {
  background-color: transparent;
  width: 150px;
  height: 150px;
  perspective: 1000px;
  margin: 10px;
  display: inline-block;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-skills:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
}

.flip-card-front {
  background-color: #ffffff;
}

.flip-card-front img {
  width: 100px;
  margin-top: 1rem;
}

.flip-card-back {
  background: #1e1e2a;
  color: #ffffff;
  transform: rotateY(180deg);
}

.flip-card-back img {
  width: 60px;
  margin-top: 1rem;
}

.flip-card-back h3 {
  margin-top: -0.3rem;
  margin-bottom: -0.3rem;
  color: #ffffff;
  font-size: 1.2rem;
}

.flip-card-back h1 {
  color: #ffffff;
  font-size: 0.9rem;
  margin: 0;
}

/* Cards de projetos*/

.portifolio h1 {
  color: #34353a;
  display: flex;
  font-size: 40px;
  margin-left: 100px;
  margin-top: 100px;
}

.container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.card-container {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 800px;
  width: 90%;
  margin: auto;
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 20%;
  margin: 2rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8ea7e9;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(0, 5);
  color: #1e1e2a;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.card a {
  text-decoration: none;
}

.primeiro-card {
  background-image: url(./img/projeto-1-clima-tact.png);
}

.segundo-card {
  background-image: url(./img/segundo-projeto-pokedex.png);
}

.card-text {
  width: 50vh;
  letter-spacing: 1px;
  color: rgb(109, 109, 109);
}

.card-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-wrapper::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  border: 2px solid #ffffff;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.card:hover > .card-wrapper a {
  position: relative;
  background-color: transparent;
}

.card-wrapper h2 {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
  color: antiquewhite;
  transition: 0.5s ease-in-out;
}

.card-wrapper p {
  font-size: 0;
  visibility: visible;
  opacity: 0;
  font-weight: bold;
  color: antiquewhite;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.card:hover {
  filter: unset;
}

.card:hover > .card-wrapper::before {
  height: 250px;
  width: 250px;
  opacity: 1;
}

.card:hover > .card-wrapper p {
  opacity: 1;
  visibility: visible;
  font-size: 14px;
}

/* FOOTER */

.footer {
  width: 100vw;
  height: 100px;
  background-color: #34353a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  section.image img {
    margin-left: 50px;
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  section.image {
    display: none;
    visibility: hidden;
  }

  .header-container {
    width: 100vh;
    justify-content: center;
    align-items: center;
  }

  .about-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .about-container h1 {
    margin: 0px;
  }

  .about-text p {
    margin: 10px;
  }

  .bio-text-pic {
    display: flex;
  }

  .photo-bio {
    display: none;
    visibility: hidden;
  }

  .skills {
    margin-top: 50px;
  }

  .skills h1 {
    margin: 0px;
    text-align: center;
  }

  .portifolio h1 {
    margin: 0px;
    text-align: center;
    display: block;
  }

  .card-container {
    width: 100vw;
    margin: 10px;
    grid-template-columns: 1fr 450px;
  }

  .primeiro-card {
    width: 150px;
    height: 150px;
  }

  .segundo-card {
    width: 150px;
    height: 150px;
  }

  .terceiro-card {
    width: 150px;
    height: 150px;
  }

  .card-container h2 {
    font-size: 1rem;
  }

  .card-text {
    font-size: 10px;
  }

  .card:hover > .card-wrapper::before {
    width: 120px;
    height: 120px;
  }

  .footer {
    width: 100vh;
  }
}

@media only screen and (max-width: 600px) {
  body {
    width: 100vh;
  }

  .header-container {
    width: 100vh;
    display: flex;
  }

  .primeiro-card {
    width: 150px;
    height: 150px;
  }

  .segundo-card {
    width: 150px;
    height: 150px;
  }

  .terceiro-card {
    width: 150px;
    height: 150px;
  }

  .card-container h2 {
    font-size: 1rem;
  }

  .card-text {
    font-size: 10px;
  }

  .card:hover > .card-wrapper::before {
    width: 120px;
    height: 120px;
  }

  .footer {
    font-size: 10px;
    width: 100vh;
  }

  .about-text p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 450px) {
  .header-container {
    width: 100vw;
  }

  .container {
    width: 100vw;
  }

  .about-text p {
    width: 300px;
    text-align: center;
  }

  .card-text {
    width: 160px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
  }

  .left-right-items h1 {
    width: 80vw;
  }

  .skills-container {
    width: 100vw;
  }

  .flip-card-skills {
    background-color: transparent;
    width: 50px;
    height: 50px;
    perspective: 1000px;
    margin: 10px;
    display: inline-block;
  }

  .flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .flip-card-skills:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
  }

  .flip-card-front {
    background-color: #ffffff;
  }

  .flip-card-front img {
    width: 50px;
    margin-top: 1rem;
  }

  .flip-card-back {
    display: none;
  }

  .portifolio {
    margin-top: 50px;
  }

  .card-container {
    width: 300px;
    margin: 10px;
    grid-template-columns: 1fr 100px;
  }

  .social-media {
    display: block;
  }

  body{
    width: fit-content;
  }
  .footer {
    width: 100vw;
  }
}
